h1, h4 {text-align: center;}
body {text-align: center; font-family: Montserrat, Helvetica Neue, sans-serif; margin: 0 auto; line-height: 2em; padding: 12px; box-sizing: border-box; color: #333; overflow: auto;
background: #ccebff; 
background: -moz-linear-gradient(-45deg,  #ccebff 0%, #ccebff 50%, #ffffff 50%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ccebff), color-stop(50%,#ccebff), color-stop(50%,#ffffff), color-stop(100%,#ffffff)); 
background: -webkit-linear-gradient(-45deg,  #ccebff 0%,#ccebff 50%,#ffffff 50%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #ccebff 0%,#ccebff 50%,#ffffff 50%,#ffffff 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #ccebff 0%,#ccebff 50%,#ffffff 50%,#ffffff 100%); /* IE10+ */
background: linear-gradient(135deg,  #ccebff 0%,#ccebff 50%,#ffffff 50%,#ffffff 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccebff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

body, html {height: 100%;position: relative;}

a {text-decoration: none; color: #333; border-bottom: 3px solid #004d80;}
a:hover {color: #004d80}
p {font-weight: 200; font-size: 20px;}

* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
hr {border-bottom: 3px solid #004d80;}


.meta {text-transform: uppercase; font-family: Arial, Courier New, Source Sans Pro, sans-serif; font-size: 10px; letter-spacing: .15em;}
.meta a:hover {color: #333;}

.inline-list {list-style: none; margin: 0; padding: 0;}
.inline-list li {display: inline-block;}

footer .inline-list li {margin-right: 40px;}
footer a {border: 5; color: #004d80;}
footer {margin: 0 auto; margin-top:2em; position: absolute; bottom: 0%; padding: 0px 0 0 0; width: 100%; background-color: #ffffff; border: solid #004d80 3px;}
